div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #008c67; /*#ef7414;*/ /*#3c49e3;*/ /*3ce341*/
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 180px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
			
nav ul a {
    text-decoration: none;
	color: #008c67;
}

section {
    margin-left: 170px;    
	border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
a.top{
	text-decoration: none;
	color: #008c67;
}
